<nav>
    <a href="/">Home</a>
    <a href="/past-work">Past Work</a>
    <a href="/staffList">Staff List</a>
    <a href="/company-history">Company History</a>
    <a href="/contact-us">Contact Us</a>
    <a href="/links">Links</a>
  </nav>