<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Links</title>
  </head>
  <%- include('./partials/nav') %>
  <body>
    <h1>Links</h1>
    <ul>
      <li><a href=""><h3><p>Google</p></h3></a></li>
      <li><a href=""><h3><p>Apple</p></h3></a></li>
      <li><a href=""><h3><p>Meta</p></h3></a></li>
    </ul>
  </body>
</html>



